<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://www.gmail.com"/>
    <add key="Browser" value="Chrome"/> <!--Chrome, IE, Firefox, Safari, Opera-->
    <add key="TargetDevice" value="PC"/> <!--PC, Tablet, Mobile-->
  </appSettings>
</configuration>